<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>updateschool</servlet-name>
        <servlet-class>see.school.updateschool</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MISservlet</servlet-name>
        <servlet-class>MIS.MISservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Account</servlet-name>
        <servlet-class>Account.Account</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentAPI</servlet-name>
        <servlet-class>MIS.StudentAPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertNewCrecheStudentAPI</servlet-name>
        <servlet-class>MIS.CrecheAPI.InsertNewCrecheStudentAPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCrecheStudentAPI</servlet-name>
        <servlet-class>MIS.CrecheAPI.UpdateCrecheStudentAPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCrecheStudentAPI</servlet-name>
        <servlet-class>MIS.CrecheAPI.DeleteCrecheStudentAPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCrecheStudentAPI</servlet-name>
        <servlet-class>MIS.CrecheAPI.SearchCrecheStudentAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateschool</servlet-name>
        <url-pattern>/updateschool</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Account</servlet-name>
        <url-pattern>/Account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentAPI</servlet-name>
        <url-pattern>/AllStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertNewCrecheStudentAPI</servlet-name>
        <url-pattern>/InsertNewCrecheStudentAPI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCrecheStudentAPI</servlet-name>
        <url-pattern>/UpdateCrecheStudentAPI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCrecheStudentAPI</servlet-name>
        <url-pattern>/DeleteCrecheStudentAPI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCrecheStudentAPI</servlet-name>
        <url-pattern>/SearchCrecheStudentAPI</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
